/* #6A7F47 
rgba(126, 213, 111, 0.4),
rgba(40, 180, 133, 0.4)  denemelik tints and shads */

$color-white: white;
$color-black: #000;
$color-dark-grey: #777;
$color-light-grey-1: #f7f7f7;

$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5943fa;

$color-primary-green: rgb(126, 213, 111);
$color-primary-dark-green: rgb(40, 180, 133);
$color-live-green: #4caf50;

$color-image-overlay: #ffa500;
$color-image-golden: #ffc107;

$default-font-size: 1.6rem;
